body{
    background: url("../img/background.jpg");
}

main{
    padding: 10px 0 30px 0;
}

.my-header{
    border: 0;
}

.bg-footer{
    background-color: #9d9d9d;
    color: black;
}

.form-login-padding{
    padding: 25%;
}

.form-submit{
    margin-right: 7%;
}

.info-padding{
    padding: 5px;
}